@import "compass/css3";
$section-bg : url(../img/cream_dust.png);
$html-bg-static : url(../img/sixth-screen.jpg);
$html-bg : url(../img/sixth-street.jpg);
$homeslice-mod : #363636;
$homeslice-text : #363636;
$gueros-mod : #363636;
$gueros-text: #363636; 
$text-shadow: 0 1px 0 white;
$hs-split : url(../img/hs-split.jpg);
$g-split : url(../img/g-split.jpg);
$light : #eff7f9;
$dark : #302F2F;
$text-color : #333437;
$ninetyone: 5.6875em;
$fortyfive: 2.8125em; 
$twentytwofive: 1.40625em;
$eleventwofive: 0.703125em;
$fifteen : 0.9375em;
$divider: #e4e8e6;